*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
	box-sizing: border-box;
}
.header{
  min-height: 320vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}
.box{
background-color: transparent;
  display: block;
  margin: 40px;
  position: absolute;
  font-size: 20px;

}
.box h1{
  font-size: 30px;
  color: white;
  text-align: left;
  margin: 10px;
}
.box h2{
  font-size: 20px;
  color: #D7A1F9;
  text-align: left;
  margin: 10px;
}

.box img{
  display: block;
  width: 70%;
  position: relative;
  cursor: none;
} 
.text{
  position: absolute;
  top: 25%;
  text-align: left;
  font-size: 25px;
	margin: 35px;
  width: 90%;
  color: white;
  background: transparent;
  display: block;
	z-index: 4;
}
.skill{
  position: absolute;
	top: 44%;
	left: 2%;
}
.column {
  float: down;
  width: 90%;
	padding: 5px;
	margin: 10px;
  border-left: 6px solid cyan;
	background: white;
	transition: 0.5s;
  opacity: 70%;
	cursor: none;

}
.column:hover{
	background: black;
	border-left: 6px solid mediumpurple;

}

.column p{
	font-size: 20px;
  color: white;
  transition: 0.5s;

}
.column p:hover{
  color: mediumpurple;
}
.row:after {
  content: "";
  display: table;
   clear: both;
}