*{
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;	
}

.menu-bar{
	background: #fff;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 5;
	
	
	
	
}
.menu-bar ul:not(#list) {
	display: inline-flex;
	list-style: none;	
	
}
.menu-bar ul li:not(.options) {
	width: 20%;
	margin: 10px;
	padding: 15px;
}
.menu-bar ul li a:not(.options) {
	text-decoration: none;
	color: #555;
  font-size: 15px;
  font-weight: 600;
  

}	
.menu-bar ul li:not(.options):hover{
	background:  #e3edf7;
	border-radius: 4px;
	
}
#select{
	background: transparent;
	display: flex;
	min-width: 120px;
	padding: 10px 10px;
	cursor: pointer;
	position: relative;
	border-radius: 4px;
	margin: 15px;  	
}
#select:hover{
	background: #e3edf7;
	
}
#selectText{
	font-size: 15px;
	font-weight: 600;
	color: #555;
	
	
}
#select ul{
	position: absolute;
	list-style: none;
	top: 120%;
	left: 0;
	background: #fff;
	color: #fff;
	width: 100%;
	border-radius: 4px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s;
  min-width: 120px;
  

	
}
#select ul li{
	padding: 10px 20px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
}
#select ul.open{
	max-height: 800px;
	
}










