*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}
.hero{
  background: #1d2026;
	width: 100%;
	color: #fff;
  min-height: 100vh;
	position: relative;
	transition: background 0.5s;
}
.text-container{
	max-width: 800px;
	margin-top: 1%;
	margin-left: 45%;
	margin-right: 80px;
	
}
.text-container h1{
	font-size: 30px;
	font-weight: 400;
	margin: 5px;
	color: #fff;
	transition: color 1s;
	
}
.text-container p{
	font-size: 12px;
	font-weight: 300;
	margin: 3px;
	color: #fff;
	transition: color 1s;
}
.text-container a{
	text-decoration: none;
	background: gold;
	color: #fff;
	font-weight: 500;
	padding: 10px 25px;
	display: inline-block;
	font-size: 12px;
	margin-top: 30px;
	border-radius: 30px;
	transition: color 1s, background 1s;
	
}
.active{
	background: black;
	
}
.on{
	background: #e3edf7;
}
.text-on h1{
	color: #222;
	
}
.text-on p{
	color: #555;
	
}
.text-on a{
	color: #fff;
	background: black;
	
}

@media screen and (max-width: 600px){


}











