*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

body{
  background-image: url('tof.png');
  background-size: cover;
  background-position: center;
  min-height: 170vh;
}


